svg {
  height: 3.125rem;
  width: 3.125rem;
  fill: black;
}
.forecast-daily-container {
  display: flex;
  justify-content: space-around;
  height: 30vh;
  align-items: center;
  text-align: center;
}

.main-weather-container {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 1em;
  padding-right: 1em;
  align-items: center;
}
.weather-info-icon {
  align-self: center;
  text-align: center;
  display: contents;
  svg {
    height: 25vh;
    width: 25vh;
  }
}
.weather-info {
  font-size: 3rem;
  height: 60vh;
  width: 35vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.25em;
  }
  h2 {
    font-size: 32px;
    margin-top: 0;
  }
  h3 {
    font-size: 1.15rem;
  }
  input {
    width: 15vw;
    border-radius: 0.3125rem;
  }
}
.weather-details-icon {
  padding: 0.75em;
  display: flex;
  justify-content: center;
}
.weather-details-container {
  text-align: center;
}

.units {
  padding-left: 1em;
  display: flex;
  // align-items: baseline;
  justify-content: center;
}
.weather-info-units {
  border: 1px solid black;
  text-align: center;
  // padding-right: 2px;
  // padding-top: 2px;
  padding: 5px 5px 0;
  // vertical-align: bottom;
  border-radius: 50%;
}
.icon {
  height: 3rem;
  width: 3rem;
}
.bigIcon {
  height: 25vh;
  width: 25vw;
}
.show-me {
  display: none;
}

.Cloudy-day {
  background: url("./SVG/cloudy-day.svg");
  background-repeat: no-repeat;
}

.Cloudy-night {
  background: url("./SVG/cloudy-night.svg");
  background-repeat: no-repeat;
}

.Clouds {
  background: url("./SVG/cloudy.svg");
  background-repeat: no-repeat;
}

.Humidity {
  background: url("./SVG/humidity.svg");
  background-repeat: no-repeat;
}

.Lightning {
  background: url("./SVG/lightning.svg");
  background-repeat: no-repeat;
}

.Mist {
  background: url("./SVG/mist.svg");
  background-repeat: no-repeat;
}

.Moon {
  background: url("./SVG/moon.svg");
  background-repeat: no-repeat;
}

.Rain {
  background: url("./SVG/rainy.svg");
  background-repeat: no-repeat;
  fill: black;
}

.Snow {
  background: url("./SVG/snow.svg");
  background-repeat: no-repeat;
}

.Sun {
  background: url("./SVG/sun.svg");
  background-repeat: no-repeat;
}
.Clear {
  background: url("./SVG/sun.svg");
  background-repeat: no-repeat;
}

.Wind {
  background: url("./SVG/wind.svg");
  background-repeat: no-repeat;
}
